* {
    background-color: rgb(31, 15, 46);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5%;
}
p{
    color:linen;
    font-size: 22px;
}