.accordion {
    background-color: transparent;
    color: #FF0057;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-top: 1px solid #FF0057;
    text-align: left;
    outline: none;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ff005533;
}


.panel {
    padding: 0 18px;
    background-color: #ff005533;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    color: #FF0057;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  *{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    background-color: #FFDCE8;
}


ul{
    padding: 2% 5%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #FF0057;
    background-image: linear-gradient(#FFB8CF, #ffdce8), url(https://grainy-gradients.vercel.app/noise.svg);
    z-index: 5;
}

h1 {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    color: #FF0057;
    padding: 5px 20px;
    border-radius: 100px;
    border: 1px solid #FF0057;
    background-color: #FFDCE8;
}

nav{
    display:flex;
    justify-content: right;
}

nav a{
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    padding: 50px 20px;
    color: #FF0057;
}

#active {
    color: black;
    text-decoration: none;
}

.body {
    margin: 2% 5%;
    position: relative;
}

h2 {
    font-family: 'forma-djr-cyrillic-display', Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    font-size: 48px;
    padding: 0 0 50px 20px;
}

p{
    font-family: 'forma-djr-cyrillic-display', Helvetica, sans-serif;
    letter-spacing: .1rem;
    margin: 2% 5% 2% 0;
    font-size: 48px;
}

a{
    color:#FF0057;
    transition: all 0.2s;
}

a:hover{
    filter:blur(5px);
}