*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    background-color: #FFDCE8;
}


ul{
    padding: 2% 5%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #FF0057;
    background-image: linear-gradient(#FFB8CF, #ffdce8), url(https://grainy-gradients.vercel.app/noise.svg);
    z-index: 5;
}

h1 {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    color: #FF0057;
    padding: 5px 20px;
    border-radius: 100px;
    border: 1px solid #FF0057;
    background-color: #FFDCE8;
}

nav{
    display:flex;
    justify-content: right;
}

nav a{
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    padding: 50px 20px;
    color: #FF0057;
}

#active {
    color: black;
    text-decoration: none;
}

.body {
    margin: 2% 5%;
    position: relative;
}

h4 {
    font-size: 14pt;
    margin: 200px 10% 0 10%;
    font-family: 'Space Mono', monospace;
    color: #FF0057;
}

p{
    font-family: 'forma-djr-cyrillic-display', Helvetica, sans-serif;
    letter-spacing: .1rem;
    margin: 5% 10%;
    font-size: 48px;
}

p:first-of-type{
    margin: 0 10% 300px 10%;
}

a{
    color:#FF0057;
    transition: all 0.2s;
}

a:hover{
    filter:blur(5px);
}

img{
    position: absolute;
    z-index: -10; 
}

#nicole {
    top: 5%;
    left: 0%;
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    border-radius: 500px;
    opacity: 40%;
}

#grace {
    top: 17%;
    left: 70%;
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    border-radius: 500px;
    opacity: 40%;
}

#meg {
    top: 52%;
    filter: grayscale(100%);
    left: 50%;
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    border-radius: 500px;
    opacity: 40%;
}

footer {
    margin: 0;
    padding: 20px 0;
    color: #FF0057;
    font-family: 'forma-djr-cyrillic-display', Helvetica, sans-serif;
    letter-spacing: .1rem;;
}

footer p{
    margin: 0;
    font-size: 15pt;
}